body {
    text-align: center;
    background-color: #35858B;
    font-family: "Arvo";
}

h1,
.drum {
    font-weight: bold;
    font-size: 5rem;
    color: white;
    text-shadow: 3px 1px #F05454;
}

.set {
    margin: 10% auto;
}

.drum {
    width: 8rem;
    height: 8rem;
    margin: 1%;
    padding-top: 1%;
    border-radius: 10px;
    color: #F05454;
    text-shadow: none;
    font-family: "Arvo";
    border: 0.5rem solid #30475E;
}

.drum:hover {
    cursor: pointer;
}

footer {
    color: white;
}

.w {
    background-image: url("../images/tom1.png");
}

.a {
    background-image: url("../images/tom2.png");
}

.s {
    background-image: url("../images/tom3.png");
}

.d {
    background-image: url("../images/tom4.png");
}

.j {
    background-image: url("../images/snare.png");
}

.k {
    background-image: url("../images/crash.png");
}

.l {
    background-image: url("../images/kick.png");
}

.pressed {
    opacity: 0.5;
}